<tr id="project_<%= project.id %>" class="<%= cssify project.state.name %>">
  <td class="name"><h2><%= project.name %></h2></td>
  <td><a href="http://<%= project.local_url %>:<%= project.port %>" target="_blank">http://<%= project.local_url %>:<%= project.port %></a></td>
  <td><a href="http://<%= project.remote_url %>:<%= project.port %>" target="_blank">http://<%= project.remote_url %>:<%= project.port %></a></td>
  <td><%= project.rails_root %></td>
  <td><%= project.environment.name[0..2] %> (<a href="#">log</a>)</td>
  <td><%= project.last_started_at.nil? ? 'Never' : distance_of_time_in_words(project.last_started_at) %></td>
  <td class="button">
    <form id="project_<%= project.id %>_form"></form>
  </td>
</tr>