<div id="project_<%= project.id %>" class="project <%= cssify(project.state.name) %>">
  <h2><%= h project.name %> <span>(<a href="#" onclick="project_blocks.toggle_description(<%= project.id %>); return false;">more</a>)</span></h2>
  <p id="project_<%= project.id %>_description" style="display:none;"><%= h project.description %></p>
  <div class="stats">
    <table cellspacing="0" class="stats">
      <tr>
        <td class="label">Local URL</td>
        <td><a href="http://<%= @system.local_hostname %>:<%= project.port %>" target="_blank">http://<%= @system.local_hostname %>:<%= project.port %></a></td>
      </tr>
      <tr>
        <td class="label">Remote URL</td>
        <td><a href="http://<%= @system.remote_hostname %>:<%= project.port %>" target="_blank">http://<%= @system.remote_hostname %>:<%= project.port %></a></td>
      </tr>
      <tr>
        <td class="label">Rails Root</td>
        <td><%= h project.rails_root %></td>
      </tr>
      <tr>
        <td class="label">Web Server</td>
        <td><%= project.server.name %></td>
      </tr>
      <tr>
        <td class="label">Environment</td>
        <td><%= project.environment.name %> (<a href="#">log</a>)</td>
      </tr>
      <tr class="last">
        <td class="label">Last Started</td>
        <td>
          <%= project.last_started_at.nil? ? 'Never' : distance_of_time_in_words(project.last_started_at) %></td>
      </tr>
    </table>
  </div>
  <form>
    <% if project.state.id == State::STOPPED %>
      <input type="button" value="Start" onclick="project_blocks.start(<%= project.id %>); return false;" />
    <% elsif project.state.id == State::RUNNING %>
      <input type="button" value="Stop" onclick="project_blocks.stop(<%= project.id %>); return false;"  />
    <% elsif project.state.id == State::ERROR %>
      <input type="button" value="Restart" onclick="project_blocks.start(<%= project.id %>); return false;" />
    <% elsif project.state.id == State::STARTING %>
      <input type="button" value="Starting..." disabled="disabled" />
    <% end %>
  </form>
</div>