<table cellspacing="0" id="summary">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Local URL</th>
      <th>Remote URL</th>
      <th>Rails Root</th>
      <th>Env</th>
      <th>Last Run</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  
  <tbody>
    <% @projects.each_with_index do |project,index| %>
      <tr class="<%= cssify project.state.name %>">
        <td class="name"><h2><%= project.name %></h2></td>
        <td><a href="http://<%= @system.local_hostname %>:<%= project.port %>" target="_blank">http://<%= @system.local_hostname %>:<%= project.port %></a></td>
        <td><a href="http://<%= @system.remote_hostname %>:<%= project.port %>" target="_blank">http://<%= @system.remote_hostname %>:<%= project.port %></a></td>
        <td><%= project.rails_root %></td>
        <td><%= project.environment.name[0..2] %> (<a href="#">log</a>)</td>
        <td><%= project.last_started_at.nil? ? 'Never' : distance_of_time_in_words(project.last_started_at) %></td>
        <td class="button"><input type="button" value="Stop" /></td>
      </tr>
    <% end %>
  </tbody>
  
</table>