<% @projects.each_with_index do |project,index| %>
  <% if index % 2 == 0 %>
    <div class="row">
  <% end %>

  <div id="project_<%= project.id %>">
    <%= render :partial => 'extended_project', :locals => { :project => project } %>
  </div>
  
  <% if index % 2 == 1 || project == @projects.last%>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  <% @projects.each do |project| %>
    project_blocks.start_status_polling(<%= project.id %>,<%= @system.poll_interval %>,'<%= params[:action] %>');
  <% end %>
</script>