<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Alfred Dashboard</title>
  <%= stylesheet_link_tag 'reset', 'main', params[:controller] %>
  <%= javascript_include_tag :defaults, 'alfred', 'project' %>
</head>
<body id="<%= params[:controller] %>">
  
  <div id="header">
    <div id="logo"><img src="/images/logo.png" alt="Alfred" /></div>
    <ul id="tabs">
      <li <%= class_if_current :active, params, :controller => 'dashboard', :action => 'compact' %>><%= link_to_unless_current 'Compact', :controller => 'dashboard', :action => 'compact' %></li>
      <li <%= class_if_current :active, params, :controller => 'dashboard', :action => 'extended' %>><%= link_to_unless_current 'Extended', :controller => 'dashboard', :action => 'extended' %></li>
      <li <%= class_if_current :active, params, :controller => 'settings', :action => 'index' %>><%= link_to_unless_current 'Settings', :controller => 'settings' %></li>
    </ul>
  </div>
  
  <div id="main">
    <%= yield %>
  </div>

</body>
</html>